.navBar {
    -fx-background-color: white;
}

.navBrand {
    -fx-font-family: Montserrat;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.navBtn {
    -fx-background-color: none;
    -fx-font-size: 11px;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 1px 0px;
}
.navBtn:hover {
    -fx-border-color: #e3e3e3;
    -fx-border-width: 0px 0px 1px 0px;
}

.navCurrent {
    -fx-border-color: gray;
    -fx-border-width: 0px 0px 1px 0px;
}
.navCurrent:hover {
    -fx-border-color: gray;
    -fx-border-width: 0px 0px 1px 0px;
}


.feedBox {
    -fx-background-color: white;
}

.row {
    -fx-text-fill: #464646;
    -fx-font-size: 12px;
}

.row:hover {
    -fx-background-color: #ffe1dd;
}

.prompt {
    -fx-font-size: 10px;
    -fx-text-fill: #e3e3e3;
    -fx-font-style: italic;
}

.control {
    -fx-background-color: white;
}

.inputField {
    -fx-background-color: none;
    -fx-text-fill: gray;
}
.inputField:focused {
    -fx-border-color: lightgray;
    -fx-border-width: 0px 0px 1px 0px;
}

.frameInput {
    -fx-background-color: none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: lightgray;
}
.frameInput:focused {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: dodgerblue;
}